*{
    margin: 0;
    padding:0;
}
.container{
    height: 450px;
    width: 600px;
    background-color: #000;
    overflow: hidden;
}
.blue_box{
    height: 100%;
    width: 100%;
    background-color: #14506c;
}
.yellow_c{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #fee77c;
    transform: translateX(60px) translateY(70px);
}
.yellow_part{
    height: 150%;
    width: 150%;
    border-radius: 50%;
    background-color: #fee77c;
    transform: translateX(250px) translateY(-200px);
}
.blue_rect{
 height: 50%;
 width: 100%;
 
 background-color: #14506c;
 transform: translateY(100%);
 
 
}
.yellow_part .blue_c{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #14506c;
    transform: translateY(-145px) translateX(130px);
   position: relative;
   z-index: 1000;
}
.yellow2{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: #fee77c;
    position: relative;
    z-index: 10;
    transform: translateY(-400px) translateX(50px);

}